Source: openapp-ruby
Section: database
Priority: extra
Maintainer: Mark Schouten <mark@tuxis.nl>
Build-Depends: debhelper
Standards-Version: 3.9.1
Homepage: http://www.openpanel.com/openapp/

Package: openapp-ruby
Architecture: all
Pre-Depends: openapp-backup, openapp-tuning
Suggests: openapp-xtrabackup
Depends: rsync, openpanel-openapp-mod-ruby, openpanel-openapp-mod-user, openpanel-openapp-mod-apache2, openapp-phpmyadmin-installer, openpanel-openapp-mod-smtp, openpanel-openapp-mod-backup, libopenssl-ruby, ruby, libapache2-mod-passenger, libmysql-ruby, libsqlite3-ruby, librack-ruby, libi18n-ruby, libapache2-mod-php5, php5-mysql, rails
Provides: openapp-app
Conflicts: openapp-app
Description: This will install your Ruby OpenApp Appliance!
 Please note that you might need xtrabackup too. See
 http://openpanel.com/openapp-ruby for instructions
